YANDEX_S3_ACCESS_KEY_ID=your_static_access_key_id
YANDEX_S3_SECRET_ACCESS_KEY=your_static_secret_access_key
YANDEX_S3_BUCKET=abhazbereg-media
YANDEX_S3_ENDPOINT=https://storage.yandexcloud.net
YANDEX_S3_REGION=ru-central1
